body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

table {
  width: 100%;
  background-color: #333;
  color: #ddd;
  text-align: center;
}

.col-md-2 {
  width: 20%;
  text-align: center;
}