<div class="container">
    <h1>Tips and Help</h1>


    <div class="movie-description">
        <h4>Navigation</h4>
        <ul>
            <li>Navigate to the home page by clicking on the <a href="#/" style="color: black"><i class="glyphicon glyphicon-home"></i></a> button.</li>
            <li>At <a href="#/ratings" style="color: black"><i class="glyphicon glyphicon-star"></i></a> you can view your current ratings.</li>
            <li>At <a href="#/recommendations" style="color: black"><i class="glyphicon glyphicon-star"></i></a> you can view movie recommendations based on your ratings.</li>
            <li>Contact us if you have any further questions.</li>
        </ul>
    </div>

    <h1>About</h1>

    <div class="movie-description">
        <p>
            This application was created by: <br><br>

            <b>Marco Unternährer</b> and <b>Josua Fröhlich</b><br><br>

            within the scope of a course at the University of Zurich, <br>
            It-Project Management (HS15). <br><br>

        </p>
    </div>
</div>