<h4><a href="#/movie/{{ movie.movieId }}">{{ movie.tmdbTitle }}</a></h4>
<img ng-src="{{ movie.poster }}"/>
<div ng-controller="RatingsController">
    <uib-rating ng-model="movie.rating" ng-change="addRating(movie)" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
</div>
<p>{{ movie.tmdbOverview }}</p>
<a href="{{ movie.imdb }}">IMDB</a>
<iframe width="420" height="315" ng-src="{{ movie.trailer }}" frameborder="0" allowfullscreen></iframe>