<div class="container" id="movie-details">
    <h3>{{ movie.tmdbTitle }}</h3>
    <div class="row">
        <div class="col-md-4">
            <img ng-src="{{ movie.poster }}"/>
            <div ng-controller="RatingsController">
                <uib-rating ng-model="movie.rating" ng-change="addRating(movie)" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
            </div>
        </div>
        <div class="col-md-8">
            <p>{{ movie.tmdbOverview }}</p>
            <p><a href="{{ movie.imdb }}">IMDB</a></p>

        </div>
    </div>
    <div class="row">
        <iframe class="youtube-frame" width="640" height="360" ng-src="{{ movie.trailer }}" frameborder="0" allowfullscreen></iframe>
    </div>
</div>