<div class="container">
    <h1>Ratings</h1>
    <div class="row" ng-repeat="row in getRatingsWithPoster('M') | orderBy: 'ratingTimestamp':false | chunkBy: 3" >
        <div class="col-md-3 box" ng-repeat="movie in row">
            <h4><a href="#/movies/{{ movie.movieId }}">{{ movie.tmdbTitle }}</a></h4>
            <a href="#/movies/{{ movie.movieId }}"><img class="poster" ng-src="{{ movie.poster }}"/></a><br>
            <div ng-controller="RatingsController">
                <uib-rating ng-model="movie.rating" ng-change="addRating(movie)" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
            </div>
        </div>
    </div>
</div><!-- /.container -->