<div class="container">
    <div class="row" ng-repeat="row in getRatings() | orderBy: 'ratingAvg':true | chunkBy: 5" >
        <div class="col-md-2" ng-repeat="movie in row">
            <h4><a href="#/movies/{{ movie.movieId }}">{{ movie.title }}</a></h4>
            <img ng-src="{{ movie.poster }}"/>
            <div ng-controller="RatingsController">
                <uib-rating ng-model="movie.rating" ng-change="addRating(movie)" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></uib-rating>
            </div>
        </div>
    </div>
</div><!-- /.container -->